body{
    font-family: arial;
    background:#f5f7fb;
    margin:0;
    padding:40px;
    color:black;
}

h1{
    margin-bottom:30px;
}

p {
    color: gray;
    margin-bottom:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

.map-card{
    padding:0;
    overflow:hidden;
}

#map{
    height:500px;
    width:100%;
}

.row{
    display:flex;
    gap:10px;
    align-items:center;
    margin-top:10px;
    flex-wrap:wrap;
}

input,select{
    padding:10px;
    border-radius:6px;
    border:1px solid lightgray;
    font-size:14px;
}

input:focus,select:focus{
    outline:none;
    border-color:blue;
}

.btn{
    padding:10px 16px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
    background:blue;
    color:white;
}

.btn:hover{
    opacity:0.9;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    font-size:14px;
}

th{
    text-align:left;
    background:lightgray;
    padding:10px;
}

td{
    padding:10px;
    border-top:1px solid white;
}

tr:hover{
    background:white;
}

#result{
    margin-top:10px;
    font-weight:600;
    color:blue;
}
